@charset "utf-8";
/* CSS Document */


body{
	margin: 0;
	padding: 0;
	background: white;
	font-family: 'Roboto', sans-serif;
}

.menu {
	display: flex;
	position: fixed;
	background: #fff;
	border-bottom: solid 1px;
	width: 100%;
	box-shadow: 0px -4px 15px 5px black;
	z-index: 5;
	justify-content: space-between;
}

.menu-items {
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 30%;
	margin-right: 2%;
	flex-wrap: wrap;
}

.logo {
	width: 198px;
	height: 86px;
	margin-left: 1%;
	margin-bottom: 0.1%;
	margin-top: 0.1%;
}




.item-active {
	color: #1C28AF;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	display: inline-block;
  	position: relative;
}

.item-active a{
	text-decoration: none;
	color: #1C28AF;
}

.item-active a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #1C28AF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.item-active a:hover:after { 
  width: 90%; 
  left: 5%;
}

.item {
  color: #000;
  text-transform: uppercase;
  text-decoration: none;
  display: inline-block;
  position: relative;
}
.item a:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 3px;
  left: 50%;
  position: absolute;
  background: #1C28AF;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.item a:hover:after { 
  width: 90%; 
  left: 5%;
}

.banner {
	width: 100%;
	height: auto;
	filter: blur(3px);
	box-shadow: 0px 0px 15px black;
}

.main {
	display: flex;
	justify-content: center;
	flex-direction: column;
	
}

.witamy {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 70vh;
	overflow: hidden;
	margin-top: 86px;
	background-image: url('../photos/tlo.png');
}

.hej {
	z-index: 4;
	position: absolute;
	font-size: 45px;
	color: #fff;
	text-shadow: 3px 3px 7px black;
}

.placeholder {
	height: 100vh;
	background: white;
	width: 1024px;
	box-shadow: 0px 0px 15px black;
}

.container {
	align-items: center;
	justify-content: center;
	/*background-image: url('../photos/tlo.png');*/
	background: white;
	flex-wrap: wrap;
}

.container2 {
	display: flex;
	align-items: center;
	justify-content: center;
	/*background-image: url('../photos/tlo-dark.png');*/
	background: #272727;
	color: white;
}

.naglowek {
	order: 1;
	margin-left: 7%;
}

.tresc {
	order: 2;
	width: 40%;
	text-align: justify;
	margin-left: 7%;
}
.zdjecie1 {
	order: 3;
}

.link-w-tekscie {
	color: #555555;
}

mark {
	background: #1C28AF;
	color: white;
}
